FONT		{FONT-FAMILY:  Ms Sans Serif,Verdana,Helvetica; FONT-SIZE: 14px}
BODY		{FONT-FAMILY: Ms Sans Serif,Helvetica; FONT-SIZE: 14px}
P					{FONT-FAMILY: Ms Sans Serif,Helvetica; FONT-SIZE: 14px}
DIV				{FONT-FAMILY: Ms Sans Serif,Helvetica; FONT-SIZE: 14px}
INPUT		{FONT-FAMILY: Ms Sans Serif,Helvetica; FONT-SIZE: 14px}
TEXTAREA	{FONT-FAMILY: Ms Sans Serif,Helvetica; FONT-SIZE: 14px}
FORM 				{FONT-FAMILY: Ms Sans Serif,Helvetica; FONT-SIZE: 14px}

TABLE.list		{FONT-FAMILY: Ms Sans Serif,Helvetica; BACKGROUND-COLOR: #000000; FONT-SIZE: 11px}
TD						{FONT-FAMILY: Ms Sans Serif,Helvetica; COLOR: #000000; FONT-SIZE: 11px}
TD.head			{FONT-FAMILY: Ms Sans Serif,Helvetica; COLOR: #FFFFFF; BACKGROUND-COLOR: #000000; FONT-WEIGHT: bold; FONT-SIZE: 11px;}
TR.list				{FONT-FAMILY: Ms Sans Serif,Helvetica; COLOR: #000000; BACKGROUND-COLOR: #FFFFFF; FONT-SIZE: 11px}

.input					{FONT-FAMILY: Ms Sans Serif,Helvetica; FONT-SIZE: 15px; border: 1px solid #CCCCFF; background-color: #FFFFFF}
.select				{FONT-FAMILY: Ms Sans Serif,Helvetica; FONT-SIZE: 14px; border: 1px solid #000000; background-color: #FFFFFF}
.select_gray	{FONT-FAMILY: Ms Sans Serif,Helvetica; FONT-SIZE: 14px; border: 1px solid #000000; background-color: #FFECEC}

A.leaf:link			{ FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none  ; FONT-WEIGHT: bold; color: "#800000"; }
A.leaf:visited	{ FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none  ; FONT-WEIGHT: bold; color: "#800000"; }
A.leaf:hover		{FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none ; FONT-WEIGHT: bold; color: "#336699";  }

A:link						{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none}
A:active				{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none}
A:visited				{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none}
A:hover					{BACKGROUND: none; COLOR: #336699; FONT-SIZE: 11px; FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none}

A.invert:link			{BACKGROUND: none; COLOR: #FFFFFF; FONT-SIZE: 11px; FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none}
A.invert:active		{BACKGROUND: none; COLOR: #FFFFFF; FONT-SIZE: 11px; FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none}
A.invert:visited	{BACKGROUND: none; COLOR: #FFFFFF; FONT-SIZE: 11px; FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none}
A.invert:hover		{BACKGROUND: none; COLOR: #336699; FONT-SIZE: 11px; FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none}

A:link				{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 14px; FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none}
A:active        {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 14px; FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none}
A:visited       {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 14px; FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none}
A:hover         {BACKGROUND: none; COLOR: #336699; FONT-SIZE: 14px; FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none}
A.link:link				{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 14px; FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none}
A.link:active        {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 14px; FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none}
A.link:visited       {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 14px; FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none}
A.link:hover         {BACKGROUND: none; COLOR: #336699; FONT-SIZE: 14px; FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none}
A.menu:link			{ FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: underline  ; FONT-WEIGHT: normal; color: "#000000"; }
A.menu:visited	{ FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: underline  ; FONT-WEIGHT: normal; color: "#000000"; }
A.menu:hover		{FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: underline ; FONT-WEIGHT: normal; color: "#3300CC";  }
A.white:link			{ FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none  ; FONT-WEIGHT: normal; color: "#FFFFFF"; }
A.white:visited	{ FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none  ; FONT-WEIGHT: normal; color: "#FFFFFF"; }
A.white:hover		{FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none ; FONT-WEIGHT: normal; color: "#3300CC";  }
A.blue:link			{ FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none  ; FONT-WEIGHT: normal; color: "#000099"; }
A.blue:visited		{ FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none  ; FONT-WEIGHT: normal; color: "#000099"; }
A.blue:hover		{FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none ; FONT-WEIGHT: normal; color: "#993300";  }
A.gray:link			{ FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none  ; FONT-WEIGHT: normal; color: "#CCCCCC"; }
A.gray:visited		{ FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none  ; FONT-WEIGHT: normal; color: "#CCCCCC"; }
A.gray:hover		{FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none ; FONT-WEIGHT: normal; color: "#000099";  }
A.head:link			{ FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none  ; FONT-WEIGHT: bold; color: "#FFFFFF"; }
A.head:visited	{ FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none  ; FONT-WEIGHT: bold; color: "#FFFFFF"; }
A.head:hover		{FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none ; FONT-WEIGHT: bold; color: "#FF9900";  }
A.linebold:link		{ text-decoration: underline; FONT-WEIGHT: bold; color: "#000000";}
A.linebold:visited	{ text-decoration: underline; FONT-WEIGHT: bold; color: "#000000";  }
A.linebold:hover	{FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none  ; FONT-WEIGHT: bold; color: "#000000";  }
A.line:link				{ text-decoration: underline; FONT-WEIGHT: none; color: "#800000";}
A.line:visited		{ text-decoration: underline; FONT-WEIGHT: none; color: "#000000";  }
A.line:hover			{FONT-FAMILY: Ms Sans Serif, Helvetica; TEXT-DECORATION: none  ; FONT-WEIGHT: none; color: "#800000";  }
A.dot						{ color: black; text-decoration: none; list-style-position: outside; border-bottom: 1px dotted gray }

.button_white	{FONT-WEIGHT: normal; FONT-SIZE:9px; color: #000000; BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid;BORDER-RIGHT:#000000 1px solid;BORDER-TOP: #000000 1px solid; background: #FF6600; cursor: hand}
.button_gray	{FONT-WEIGHT: normal; FONT-SIZE: 9px; color: #000000; BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid;BORDER-RIGHT:#000000 1px solid;BORDER-TOP: #000000 1px solid; background: #CCCCCC; cursor: hand}
.button	{
	FONT-WEIGHT: bold; FONT-SIZE: 9px; color: #000000; BORDER-BOTTOM: #476208 1px solid; BORDER-LEFT: #476208 1px solid;BORDER-RIGHT:#CFED8A 1px solid;BORDER-TOP: #CFED8A 1px solid; cursor: hand
}

/* TA Menu styles */

DIV.taMenu
{
   float            : left;
   width            : 100%;
   background       : #FFFFFF url(../images/taMenuBorder.gif) repeat-x bottom;
}

DIV.taMenu UL
{
   margin           : 0px;
   padding          : 0px;
   list-style       : none;
}

DIV.taMenu LI
{
   display          : inline;
   margin           : 0px;
   padding          : 0px;
}

DIV.taMenu A.tab
{
   float            : left;
   background       : url(../images/taMenuRight.gif) no-repeat right top;
   border-bottom    : 1px solid #84B0C7;

   font-size        : 9px;
   font-weight      : bold;
   text-decoration  : none;
}

DIV.taMenu A.tab:hover
{
   background-position: 100% -150px;
}

DIV.taMenu A:link, DIV.taMenu A.tab:visited,
DIV.taMenu A:active, DIV.taMenu A.tab:hover
{
   color            : #115E94;
}

DIV.taMenu SPAN
{
   float            : left;
   display          : block;
   background       : url(../images/taMenuLeft.gif) no-repeat left top;
   padding          : 4px 9px;
   white-space      : nowrap;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
DIV.taMenu SPAN {float : none;}
/* End IE5-Mac hack */

DIV.taMenu A:hover SPAN
{
   background-position: 0% -150px;
}

DIV.taMenu LI#current A
{
   background-position: 100% -150px;
   border-width     : 0px;
}

DIV.taMenu LI#current SPAN
{
   background-position: 0% -150px;
   padding-bottom   : 5px;
}

table.main
{ 
	border-top: 0px solid;
	border-right: 1px solid #84B0C7;
	border-bottom: 1px solid #84B0C7;
	border-left: 1px solid #84B0C7;
	height: 400px
}

.shed
{
	color: #FFFF00; font-weight: bold;
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#CC0000', gradientType='1');
}
.shed2
{
	color: #FFFFFF; font-weight: bold;
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#000000', endColorStr='#EEEEEE', gradientType='1');
}
.shedline
{
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#6799FF', gradientType='1');
}


/*--------------------- grid system --------------------*/
/*
 & Columns : 12 
 & Gutter %: 20% 
 & MinWidth: 800px
 & MaxWidth: 800px
 */
.grid_1 { width: 6.6666666666667%; }
.grid_2 { width: 15%; }
.grid_3 { width: 23.333333333333%; }
.grid_4 { width: 31.666666666667%; }
.grid_5 { width: 40%; }
.grid_6 { width: 48.333333333333%; }
.grid_7 { width: 56.666666666667%; }
.grid_8 { width: 65%; }
.grid_9 { width: 73.333333333333%; }
.grid_10 { width: 81.666666666667%; }
.grid_11 { width: 90%; }
.grid_12 { width: 98.333333333333%; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	margin-left: 0.83333333333333%;
	margin-right: 0.83333333333333%;
	float: left;
	display: block;
}

.alpha{margin-left:0px;}
.omega{margin-right:0px;}

.container{
	min-width: 800px; 
	max-width: 800px; 
	margin: auto;
}

/* @
 * tinyfluidgrid.com
 & girlfriendnyc.com
 */

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}

/* ------------- theme style -------------------*/
.footer {
	text-align: center;
	padding: 30px 0;
	color: #fff;
}

.content-side {
	margin-bottom: 10px;	
}

.content-main {
	padding: 8px;
	border: 1px solid #DDDDDD;
	margin-bottom: 10px;
}

.content-side h4 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 10px;
	background: #9932CC;
	color: #FFFFFF;
}

.content-side div {
	border: 1px solid #DDDDDD;
	border-top: none;
	padding: 10px;
}

.mainmenu {
	padding: 8px;
	border: 1px solid #DDDDDD;
	margin-bottom: 10px;
	margin-top: 8px;
}
